.cardCon{
    width: 240px;
    height: 280px;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.5s;
}
.cardCon:hover{
      box-shadow: 3px 3px 14px rgb(170, 145, 145);
      transform: scale(1.0);
      z-index: 1;

}
.angle{
    margin:10px 0px 0px 60px;
    width: 100px;
    height: 150px;
    align-content: center;
}
.angle img{
    width: 100%;
}
.cardCon p{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0px 33px;
}
.cardCon h3{
  font-family:"Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 24px;
}